@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

body{
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    background-color: #3A4663;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-two{
    background-color: #E6E6E6;

}

.body-three{
    background-color:  #17062A;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    box-sizing: border-box;
    max-width: 327px;
    width: 100%;
}

.theme{
    display: flex;
    gap: 26px;
    align-items: center;
}

header h2{
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header-two h1,
.header-two h2,
.header-two h3{
    color: #36362C;
}

.header-three h1,
.header-three h2,
.header-three h3{
    color: #FFE53D;
}




header h3{
    text-align: end;
    margin-bottom: 5px;
    letter-spacing: 7px;
    margin-right: 5px;
    font-size: 12px;
    color: #ffffff;
}

header h1{
    border-left: 7px;
    font-size: 32px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

.button-background{
    width: 71px;
    height: 26px;
    border-radius: 13px;
    background-color: #242D44;
    display: flex;
    align-items: center;
    padding: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.button-background-two{
    background-color: #D2CDCD;
    justify-content: center;
}

.button-background-three{
    background-color: #1E0936;
    justify-content: end;
}

.button{
    background-color: #D03F2F;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.button-two{
    background: #C85402;
}

.button-three{
    background: #00DED0;
}

main{
    padding: 0 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.output{
    max-width: 327px;
    width: 100%;
    border-radius: 10px;
    height: 88px;
    background-color: #181F33;
    margin-bottom: 24px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 24px;
    box-sizing: border-box;
}

.output h1{
    font-size: 40px;
    line-height: 37px;
    text-align: right;
    letter-spacing: -0.6px;
    color: #FFFFFF;
}

.output-two,
.output-two h1{
    background-color: #ffffff;
    color: #36362C;
}

.output-three,
.output-three h1{
    background: #1E0936;
    color: #FFE53D;
}

.input{
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    box-sizing: border-box;
    gap: 13px;
    background-color: #242D44;
    max-width: 327px;
    border-radius: 10px;
}

.input-two{
    background-color: #D2CDCD;
}

.input-three{
    background: #1E0936;
}

button{
    width: 60px;
    height: 64px;
    box-shadow: inset 0px -4px 0px #B3A497;
    border: none;
    border-radius: 5px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #434A59;
    cursor: pointer;
}

.inputB-two button{
    background-color: #E5E4E1;
    box-shadow: inset 0px -4px 0px #A79E91;
    color: #36362C;
}

.input-three button{
    background: #331C4D;
    box-shadow: inset 0px -4px 0px #881C9E;
}

#del{
    box-shadow: inset 0px -4px 0px #414E73;
    background-color: #647198;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 18px;
}

.inputB-two{
    background: #D2CDCD
}

.new-buttons-3{
    background: #331C4D;
    box-shadow: inset 0px -4px 0px #881C9E;
    color: #FFE53D;
}

.new-buttons-2{
    background: #E5E4E1;
    box-shadow: inset 0px -4px 0px #A79E91;
    color: #36362C;
}

.inputB-three{
    background: #1E0936;
    color: #FFE53D;
}

.inputB-two #del,
.inputB-two #reset{
    background-color: #378187;
    box-shadow: inset 0px -4px 0px #1B6066;
    color: #ffffff;
}

.inputB-three #del,
.inputB-three #reset{
    background: #56077C;
    box-shadow: inset 0px -4px 0px #BE15F4;
    color: #ffffff;
}

#reset{
    width: 133px;
    height: 64px;
    background: #647198;
    box-shadow: inset 0px -4px 0px #414E73;
    font-size: 20px;
    color: #ffffff;
}

#equal{
    width: 133px;
    height: 64px;
    background: #D03F2F;
    box-shadow: inset 0px -4px 0px #93261A;
    font-size: 20px;
    color: #ffffff;
}

.inputB-two #equal{
    background: #C85402;
    box-shadow: inset 0px -4px 0px #873901;
    color: #ffffff;
}
.inputB-three #equal{
    background: #00DED0;
    box-shadow: inset 0px -4px 0px #6CF9F1;
    color: #1A2327;
}

